!!!
%html
%head
  %title FileCabinet | Your life in a Doc!
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
%body
  %header
    .header_inner
      = link_to "FileCobinet", root_path, id: "logo"

      %nav
        - if user_signed_in?
          = link_to "Create Doc", new_doc_path
          = link_to "sign Out", destroy_user_session_path, method: :delete

        - else
          = link_to "Log In", new_user_session_path

  %p.notice= notice
  %p.alert= alert

  = yield
